Library
Temp
*.unityproj
*.pidb
*.csproj
*.userprefs
*.sln
.vs
.vsconfig
*_dist.py
*blend1*
*blend2*
*_dist.py
*.pyc
tankcombat2dxc
x.x*

dist_osx

tankcombat2d/Assets/Ignored
tankcombat2d/Assets/Ignored.meta
